
.mainWrapper {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #33fff3;
  align-items: flex-end;

  @media screen and (min-width: 768px) {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #33fff3;
  }
}

.section1Content {
  //mobile view
  display: block;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  h3 {
    padding-left: 40px;
    font-size: 57px;
    color: white;
    font-weight: 800;
  }
  .imgAsia {
    width: 50%;
    margin-top: 20px;
    margin-left: 45px;
    object-fit: contain;
  }

  //desktop view
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    h3 {
      padding-bottom: 100px;
      padding-left: 40px;
      font-size: 200px;
      color: white;
      font-weight: 800;
      width: 60%;
    }
    .imgAsia {
      width: 50%;
    height: 40%;
    padding-bottom: 100px;
    padding-left: 205px;
    }
  }
} 

