
.mainWrapper {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #000000;
  // background: url("../src/assets/bg-adam.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;

  @media screen and (min-width: 768px) {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #000000;
  }
}

.section1Content {
  //mobile view
  display: block;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  h3 {
    padding-left: 40px;
    font-size: 57px;
    color: white;
    font-weight: 800;
  }

  span {
    font-size: 15px;
    font-weight: 500;
  }

  h5{
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
  }

  .imgAsia {
    width: 30%;
    margin-top: 0px;
    margin-left: 45px;
    object-fit: contain;
  }

  //desktop view
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    h3 {
      padding-bottom: 100px;
      padding-left: 40px;
      font-size: 180px;
      color: white;
      font-weight: 800;
      width: 60%;
    }

    span {
      font-size: 40px;
      font-weight: 500;
    }

    h5{
      font-size: 50px;
      font-weight: 500;
    }
    .imgAsia {
      width: 13%;
      right: 9%;
      position: relative;
      height: 21%;
      padding-bottom: 114px;
      padding-left: 0px;
      margin-left: 0px;
    }
  }
} 

